html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow: auto;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

// Media Query

// laptop/lg screens
@media screen and (min-width: 1024px) {
  body {
    overflow-y: hidden;
  }
}
